@page
@model TaskScheduler_RazorProject.Pages.EditModel
@{
    ViewData["Title"] = "Edit Task";
}

<br />
<h2>@ViewData["Title"]</h2>
<br />

<div class="border container" style="padding:30px">
    <form method="post">
        <input type="hidden" asp-for="Task.Id" />
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Task.Title">Task Title:</label>
            </div>
            <div class="col-6">
                <input asp-for="Task.Title" class="form-control" />
            </div>
            <span asp-validation-for="Task.Title" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Task.Description">Task Description:</label>
            </div>
            <div class="col-6">
                <input asp-for="Task.Description" class="form-control" placeholder="(optional)" />
            </div>
            <span asp-validation-for="Task.Description" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Task.DueDate">Due Date:</label>
            </div>
            <div class="col-6">
                <input asp-for="Task.DueDate" class="form-control" type="date" />
            </div>
            <span asp-validation-for="Task.DueDate" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Task.DueTime">Due Time:</label>
            </div>
            <div class="col-6">
                <input asp-for="Task.DueTime" class="form-control" type="time" />
            </div>
            <span asp-validation-for="Task.DueTime" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="Task.Color">Color:</label>
            </div>
            <div class="col-6">
                <input asp-for="Task.Color" class="form-control-color" type="color" />
            </div>
            <span asp-validation-for="Task.Color" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-3 offset-3">
                <input type="submit" value="Edit" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back To List</a>
            </div>
        </div>
    </form>
</div>
